@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#about .container .about .row .info-about .info .info-body .about-btn, #heroBanner #hero-services .container .hero-services .col .hero-card-icon .btn-card, #heroBanner #carouselExampleIndicators .carousel-inner .carousel-item .container .row .col .carousel-caption .hero-btn, header #bottom-header .container .bottom-header .header-btn {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: #009dff;
  color: white;
  transition: 0.5s;
}

header .top-header {
  background-color: #f5fbff;
  padding: 10px;
}
@media only screen and (max-width: 767px) {
  header .top-header .container .row {
    display: flex;
    flex-direction: column;
  }
}
header .top-header .container .row .header-contact {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  header .top-header .container .row .header-contact {
    justify-content: center;
  }
}
header .top-header .container .row .header-contact a {
  text-decoration: none;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .top-header .container .row .header-contact i {
  font-size: 13px;
}
@media only screen and (max-width: 767px) {
  header .top-header .container .row .header-icons {
    justify-content: center;
  }
}
header #bottom-header .container .bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media only screen and (max-width: 991px) {
  header #bottom-header .container .bottom-header .header-nav {
    display: none;
  }
}
header #bottom-header .container .bottom-header .header-nav .header-ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
header #bottom-header .container .bottom-header .header-nav .header-ul li a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}
header #bottom-header .container .bottom-header .header-nav .header-ul li a:hover {
  color: black;
}
header #bottom-header .container .bottom-header .header-btn {
  padding: 10px 30px;
}
header #bottom-header .container .bottom-header .header-btn:hover {
  background-color: #fff;
  border: 1px solid #009dff;
  color: #009dff;
}

#heroBanner #carouselExampleIndicators .carousel-inner .carousel-item .container .row .col .carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  text-align: start;
  color: #000;
  font-family: "Poppins", sans-serif;
}
#heroBanner #carouselExampleIndicators .carousel-inner .carousel-item .container .row .col .carousel-caption .p-health {
  font-size: 70px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 767px) {
  #heroBanner #carouselExampleIndicators .carousel-inner .carousel-item .container .row .col .carousel-caption .p-health {
    font-size: 55px;
    font-weight: 600;
  }
}
#heroBanner #carouselExampleIndicators .carousel-inner .carousel-item .container .row .col .carousel-caption .p-hole {
  font-size: 70px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 767px) {
  #heroBanner #carouselExampleIndicators .carousel-inner .carousel-item .container .row .col .carousel-caption .p-hole {
    font-size: 55px;
    font-weight: 300;
  }
}
#heroBanner #carouselExampleIndicators .carousel-inner .carousel-item .container .row .col .carousel-caption .hero-btn {
  padding: 15px 40px;
  margin-top: 20px;
}
#heroBanner #carouselExampleIndicators .carousel-inner .carousel-item .container .row .col .carousel-caption .hero-btn:hover {
  background-color: #fff;
  border: 1px solid #009dff;
  color: #009dff;
}
#heroBanner #hero-services {
  background-color: #83c4ff;
}
#heroBanner #hero-services .container .hero-services .col {
  padding: 40px 30px;
}
#heroBanner #hero-services .container .hero-services .col .hero-card-icon .hero-card-head .fa-solid {
  font-size: 50px;
  padding-bottom: 20px;
}
#heroBanner #hero-services .container .hero-services .col .hero-card-icon .hero-card-body .card-title {
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
#heroBanner #hero-services .container .hero-services .col .hero-card-icon .hero-card-body .card-body {
  color: white;
  font-size: 18px;
  padding: 5px 0;
  font-family: "Poppins", sans-serif;
}
#heroBanner #hero-services .container .hero-services .col .hero-card-icon .btn-card {
  background-color: transparent;
  border-color: white;
  padding: 10px 30px;
  margin-top: 20px;
  font-weight: 500;
}
#heroBanner #hero-services .container .hero-services .col .hero-card-icon .btn-card:hover {
  background-color: #fff;
  color: #5db2ff;
}
#heroBanner #hero-services .container .hero-services .primary-bg {
  background-color: #5db2ff;
}

#about .container .about {
  padding: 150px 0;
}
@media only screen and (max-width: 576px) {
  #about .container .about .row {
    display: flex;
    flex-direction: column;
  }
}
#about .container .about .row .img-about .img {
  position: relative;
}
#about .container .about .row .img-about .img .right-img {
  position: absolute;
  left: 40%;
  top: 23%;
  width: 60%;
  border-radius: 8px;
}
@media only screen and (max-width: 576px) {
  #about .container .about .row .img-about .img .right-img {
    display: none;
  }
}
#about .container .about .row .img-about .img .left-img {
  width: 60%;
  border-radius: 8px;
}
@media only screen and (max-width: 576px) {
  #about .container .about .row .img-about .img .left-img {
    width: 100%;
  }
}
#about .container .about .row .info-about {
  padding-left: 70px;
  padding-right: 20px;
}
@media only screen and (max-width: 991px) {
  #about .container .about .row .info-about {
    margin-top: 150px;
    padding-left: 0%;
    padding-right: 0%;
  }
}
#about .container .about .row .info-about .info .info-title {
  position: relative;
  font-size: 23px;
  margin-bottom: 40px;
}
#about .container .about .row .info-about .info .info-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: #009dff;
}
#about .container .about .row .info-about .info .info-body .p-best {
  font-size: 40px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
#about .container .about .row .info-about .info .info-body .p-esteem {
  font-family: "Poppins", sans-serif;
  color: gray;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 20px;
}
#about .container .about .row .info-about .info .info-body .p-icon span {
  font-family: "Poppins", sans-serif;
  color: #7f7284;
  font-weight: 400;
  font-size: 18px;
}
#about .container .about .row .info-about .info .info-body .about-btn {
  background-color: #fff;
  color: #009dff;
  border-color: #009dff;
  margin-top: 40px;
  padding: 10px 30px;
}
#about .container .about .row .info-about .info .info-body .about-btn:hover {
  background-color: #009dff;
  color: #fff;
}

#department {
  background-color: #f5fbff;
}
#department .container .department {
  padding: 100px 0;
}
#department .container .department .head .p-title {
  font-size: 36px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  position: relative;
}
#department .container .department .head .p-title::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -10px;
  height: 2px;
  width: 55px;
  background: #009dff;
}
#department .container .department .head .p-esteem {
  font-family: "Poppins", sans-serif;
  color: gray;
  font-weight: 200;
  font-size: 18px;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  #department .container .department .head .p-esteem {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  #department .container .department .row {
    display: flex;
    flex-direction: column;
  }
}
#department .container .department .row .col .department-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
}
#department .container .department .row .col .department-card .card-item {
  padding: 25px;
}
#department .container .department .row .col .department-card .card-item .item-title {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
#department .container .department .row .col .department-card .card-item .item-body {
  color: gray;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
#department .container .department .row .col .department-card .card-item a {
  text-decoration: none;
  font-weight: 500;
  color: #009dff;
}
#department .container .department .row .col .department-card .card-item a:hover {
  text-decoration: underline;
}
#department .container .department .row .col .department-card .img {
  overflow: hidden;
}
#department .container .department .row .col .department-card .img img {
  transition: 0.3s;
}
#department .container .department .row .col .department-card .img img:hover {
  transform: scale(1.1);
}

#feedbacks .carousel-inner {
  position: relative;
  z-index: 0;
}
#feedbacks .carousel-inner .carousel-item::before {
  position: absolute;
  content: "";
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
}
#feedbacks .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  height: 100%;
  z-index: 3;
}
#feedbacks .carousel-inner .carousel-item .carousel-caption .fa-solid {
  font-size: 60px;
  padding-top: 100px;
}
#feedbacks .carousel-inner .carousel-item .carousel-caption .p-donec {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 40px 0;
}
#feedbacks .carousel-inner .carousel-item .carousel-caption .p-asana {
  position: relative;
}
#feedbacks .carousel-inner .carousel-item .carousel-caption .p-asana::before {
  position: absolute;
  background: #fff;
  width: 60px;
  height: 2px;
  content: "";
  left: 47%;
  top: -10px;
}
#feedbacks .nav-feedbacks {
  background-color: #f5fbff;
}
#feedbacks .nav-feedbacks .tabs .nav-tabs .nav-item a {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 25px 80px;
  background-color: #f5fbff;
  transition: 0.5s;
}
#feedbacks .nav-feedbacks .tabs .nav-tabs .nav-item a:hover {
  background-color: #fff;
  border-color: #009dff;
  color: #009dff;
}/*# sourceMappingURL=main.css.map */