#admin-panel {
  position: absolute;
  top: 85px;
  width: 100%;
  .dashboad-structure {
    margin: 0;
    .col-lg-2 {
      //   box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
      font-family: $font-roboto;
      list-style: none;
      padding-top: 30px;
      padding-bottom: 30px;
      .menu-profil{
        .icons-menu{
          .Btn {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 45px;
            height: 45px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition-duration: .3s;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
            background-color: darkred;
            &:hover {
              width: 125px;
              border-radius: 40px;
              transition-duration: .3s;
            }
            
            &:hover .sign {
              width: 30%;
              transition-duration: .3s;
              padding-left: 20px;
            }
            &:hover .text {
              opacity: 1;
              width: 70%;
              transition-duration: .3s;
              padding-right: 10px;
            }
            &:active {
              transform: translate(2px ,2px);
            }
            .sign {
              width: 100%;
              transition-duration: .3s;
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                width: 17px;
                path {
                  fill: white;
                }
              }
            }
            .text {
              position: absolute;
              right: 0%;
              width: 0%;
              opacity: 0;
              color: white;
              font-size: 13px;
              font-weight: 600;
              transition-duration: .3s;
            }
          }
          
          /* button click effect*/
          
        }
      }
      nav {
        .left-menu {
          display: flex;
          flex-direction: column;
          gap: 30px;
          li {
            a {
              font-family: $font-roboto;
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
    .col-lg-10 {
      background-color: #f7f7f7;
      .dashboad-title {
        font-size: 36px;
        text-align: center;
        background-color: #fff;
        margin: 20px 0;
        padding: 10px;
        font-weight: 600;
        color: navy;
        border-radius: 30px;
      }
      .report-structure {
        .row-title {
          font-size: 15px;
          font-weight: 700;
          color: gray;
          //   border-bottom: 1px dashed navy;
        }
        .col {
          .reports-card {
            cursor: pointer;
            padding: 10px 18px;
            border-radius: 15px;
            &:hover {
              background-image: linear-gradient(
                -12deg,
                #2a57d7 0,
                #9eeeff 100%
              ) !important;
            }
            &:hover .num {
              color: #fff;
            }
            &:hover .info {
              color: #fff;
            }
            .fa-solid {
              font-size: 30px;
            }
            .num {
              font-weight: 600;
              font-size: 18px;
            }
            .info {
              color: gray;
            }
          }
        }
      }
      .dashboad-item {
        .col {
          .dashboad-table {
            .btn {
              background-color: navy;
              border: navy;
              &:hover {
                background-color: transparent;
                color: navy;
              }
            }
            .table {
              tbody{
                
                th{
                  margin: 0;
                  img{
                    width: 30px;
                    height: 30px;
                  }
                }
              }
              .border {
                background-color: rgba(0, 0, 128, 0.733);
                color: white;
                th {
                  font-weight: 400;
                  text-align: center;
                }
                
              }
            }
          }
        }
      }
    }
  }
}
