header {
  .top-header {
    background-color: $bg-info-color;
    padding: 10px;
    .container {
      .row {
        @media only screen and (max-width: 767px) {
          display: flex;
          flex-direction: column;
        }
        .header-contact {
          display: flex;
          justify-content: flex-end;
          gap: 40px;
          @media only screen and (max-width: 767px) {
            justify-content: center;
          }
          a {
            text-decoration: none;
            color: gray;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 300;
          }
          i {
            font-size: 13px;
          }
        }
        .header-icons {
          @media only screen and (max-width: 767px) {
            justify-content: center;
          }
        }
      }
    }
  }
  #bottom-header {
    .container {
      .bottom-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .header-nav {
          @media only screen and (max-width: 991px) {
            display: none;
          }
          .header-ul {
            display: flex;
            gap: 25px;
            align-items: center;
            li {
              a {
                text-decoration: none;
                color: gray;
                font-weight: 500;
                &:hover {
                  color: black;
                }
              }
            }
          }
        }
        .header-btn {
          padding: 10px 30px;
          @extend %primary-btn;
          &:hover {
            background-color: #fff;
            border: 1px solid $info-color;
            color: $info-color;
          }
        }
        .modal-dialog{
          max-width: 800px;
          
        }
        #menu-burger {
          display: none;
          @media only screen and (max-width: 991px) {
            display: block;
          }
          .container {
            .menu-burger {
              .btn-burger {
                background-color: #fff;
                box-shadow: none;
              }
              .offcanvas{
                background-color: navy;
                .offcanvas-body {
                  padding-top: 55px;
                  .burger-menu {
                    .burger {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      gap: 15px;
                      li {
                        a {
                          text-decoration: none;
                          font-size: 18px;
                          color: white;
                          font-family: $font-roboto;
                          transition: .5s;
                          &:hover{
                            // font-size: 22px;
                            font-weight: 700;
                            text-shadow: #fff;
                            text-decoration:underline;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
