#feedbacks {
  .carousel-inner {
    position: relative;
    z-index: 0;
    .carousel-item {
      &::before {
        position: absolute;
        content: "";
        background-color: #000000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.3;
      }
      .carousel-caption {
        position: absolute;
        height: 100%;
        z-index: 3;
        .fa-solid {
          font-size: 60px;
          padding-top: 100px;
        }
        .p-donec {
          font-size: 20px;
          font-family: $font-roboto;
          text-align: center;
          padding: 40px 0;
        }
        .p-asana {
          position: relative;
          &::before {
            position: absolute;
            background: #fff;
            width: 60px;
            height: 2px;
            content: "";
            left: 47%;
            top: -10px;
          }
        }
      }
    }
  }
  .nav-feedbacks {
    background-color: $bg-info-color;
    .tabs {
      .nav-tabs {
        .nav-item{
          a{
            color: #000000;
            font-family: $font-roboto;
            font-size: 20px;
            padding: 25px 80px;
            background-color: $bg-info-color;
            transition: .5s;
            &:hover{
              background-color: #fff;
              border-color: $info-color;
              color: $info-color;
            }
          }
        }
      }
    }
  }
}
