#footer {
  background-color: #1f1f1f;
  .container {
    .footer {
      padding: 150px 0;
      .row {
        align-items: flex-start;
        @media only screen and (max-width: 991px) {
            display: flex;
            flex-direction: column;
          }
        .col {
          p,
          a {
            color: gainsboro;
            text-decoration: none;
            font-family: $font-roboto;
          }
        }
        .col-lg-4 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 30px;
          .footer-icons {
            display: flex;
            gap: 10px;
            align-items: center;
            .icon-div {
              background-color: #707070;
              padding: 15px 20px;
              border-radius: 12px;
            }
          }
        }
        .col-lg-8 {
          padding-left: 60px;
          @media only screen and (max-width: 991px) {
            padding-left: 20px;
          }
          nav {
            .nav-title {
              font-size: 23px;
              color: white;
            }
            ul {
              display: flex;
              flex-direction: column;
              gap: 15px;
              li {
                a {
                  transition: 0.5s;
                  &:hover {
                    color: $info-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
