#heroBanner {
  #carouselExampleIndicators {
    .carousel-inner {
      .carousel-item {
        .container {
          .row {
            .col {
              .carousel-caption {
                // margin: 200px 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                height: 100%;
                // max-width: 100%;
                text-align: start;
                color: #000;
                font-family: "Roboto", sans-serif;
                .p-health {
                  font-size: 70px;
                  font-weight: 600;
                }
                .p-hole {
                  font-size: 70px;
                  font-weight: 300;
                }
                .hero-btn {
                  @extend %primary-btn;
                  padding: 15px 40px;
                  margin-top: 20px;
                  &:hover{
                    background-color: #fff;
                    border: 1px solid $info-color;
                    color: $info-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
